/* color.scss */

// button
$white: #ffffff;
$black: #212121;
$white: #ffffff;
$gray: rgba(0, 0, 0, 0.54);
$lightGray: #d8d8d8;
$blue: #394e75;
$darkBlue: #072252;
$darkBlue2: #0d4496;
$orange: #ff6e40;
$bgGlay: #f4f4f4;
$lightBlue: #136add;
$focusBlue: #4c99f0;
$gold: #bca976;
$disabledGray: #757575;
$grayB1: #b1b1b1;
$dark40: #b1b1b1;
$grayC4: #c4c4c4;
$grayF4: #f4f4f4;
$orange2: #fa720a;
$red: #eb5552;
$gray75: #757575;
$orange2: #fa720a;
$lightBlue2: #d9e9fc;
$red: #eb5552;
$lighterBlue: #d9e9fc;
$dark20: #D8D8D8;
$dark80: #212121;
