@font-face {
  font-family: "NotoSansJP-Bold";
  src: url('../assets/font/NotoSansCJKjp-Bold.otf') format('opentype');
  font-display: auto;
}

@font-face {
  font-family: "NotoSansJP-Regular";
  src: url('../assets/font/NotoSansCJKjp-Regular.otf') format('opentype');
  font-display: auto;
}
