// reset

html, body {
  width: 100%;
  // height: 100%;
  height: auto;
  // min-height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}


body {
  margin: 0;
  font-family: "#{ $fontR }", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", 'sans-serif';
  // background-color: #000;
}

p, dl, dt, dd, ul, li {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  padding-inline-start: 0;
}

h1, h2, h3, h4, h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

* {
  box-sizing: border-box;
}

button {
  padding: 0;
}
